#--- Archivos de variables de entorno (NUNCA subir claves)
.env            # principal
.env.*          # .env.local, .env.prod, .env.dev, etc.

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias y builds
node_modules
dist
dist-ssr
*.local

# Directorios / archivos de editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

